<header>
  <div class="container">
    <a href="#" routerLink="/start" class="logo">Foodish</a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/home">Menu</a></li>
      </ul>
    </nav>
    <!--<nav>
    <ul>
      <li><a href="#" routerLink="/api" >Admin Panel</a></li>
    </ul>
  </nav>-->
    <nav>
      <ul>
        <li><a href="#" routerLink="/cart-page">Cart</a></li>
      </ul>
    </nav>
    <nav>
      <ul>
        <li><a href="#" routerLink="/login">Logout</a></li>
      </ul>
    </nav>
    <!--<nav>
      <ul>
        <li><a href="#" routerLink="/orderhistory">Orders</a></li>
      </ul>
    </nav>-->

    <nav>
      <ul>
        <li><a href="#" routerLink="/adminlogin">Admin Panel</a></li>
      </ul>
    </nav>

  </div>
  </header>
