<!--<br />
<h3>Shipping Prices</h3>
<br />-->
<!--<div class="shipping-item" *ngFor="let shipping of shippingCosts | async">
  <span>{{ shipping.type }}</span>
  <span>{{ shipping.price | currency:'USD' }}</span>
</div>-->


<!--<div *ngFor="let shipping of shippingCosts | async; let idx = index;">
  <label for="id_{{shipping.type}}" class="text text-default" style="font-size:large; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
    <input id="id_{{shipping.type}}" [value]='shipping.type+" "+shipping.price' type="radio" name="shipping" [(ngModel)]="radioSelected">
    {{shipping.type }} - {{ shipping.price | currency:'USD' }} {{idx}}-->
    <!--{{idx}}  [checked]="(idx==0)"-->
  <!--</label>
</div>
<button (click)='selected()'>Ship My Order</button>
<span>
  <a [routerLink]="['/cart']">
    Check you Cart...
  </a>
</span>-->
