<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

  <!--<div class="background-image"></div>-->
  <app-header></app-header>

  <br />
  <h1 style="text-align:center">Welcome to Foodish</h1>
  <br />
  <!--<img src="../assets/images/foods/logo.png" alt="Foodish app logo" width="150" height="100" class="center">-->

  <video controls autoplay muted class="Video" width="1200" height="500" src="../assets/vdos/home1.mp4" type="video/mp4">
    Your Browser Does Not Support the Video Tag.
  </video>
  <br>
  <br>
  <br>
  <br>
  <br>



  <!--<h3>Food is something which everyone wishes for. Not everyone can cook good food but they may wish to eat.</h3>

  <h3>However, for eating good food he or she may not have to cook as there are many food ordering apps from where anyone can order their favourite food.</h3>

  <h3>Receiving food at your doorstep</h3>
  <h3>
    Food is the basic necessity of every organism. Food is a substance that we consume in order to derive energy to run our body and nutrition to grow. All living organisms must have food to survive. It provides nourishment to our body system and makes sure that it works smoothly. It aids many biological processes inside the body and helps us grow. As much as it is important to have food, it is more important to have healthy food. Healthy food is the one, which provides a well-balanced diet. It gives us complete nutrition. It consists of food varieties that have maximum nutrients essential for the body. It also intends to provide the right quantity of every nutrient which is required by the body.

  </h3>-->
  <!--<img src="./assets/images/foods/foodbg.jpg" width="1200" height="500" class="center">-->
  <!--<footer class="footer-distributed">

    <div class="footer-left">

      <h3><span>FOODISH</span></h3>


      <p class="footer-company-name">Foodish © 2022</p>
    </div>

    <div class="footer-center">

      <div>
        <i class="fa fa-map-marker"></i>
        <p><span>C-444, High Mont</span> Pune, Maharastra,India</p>
      </div>

      <div>
        <i class="fa fa-phone"></i>
        <p>+91-9999999999</p>
      </div>

      <div>
        <i class="fa fa-envelope"></i>
        <p><a href="mailto:support@company.com">support@company.com</a></p>
      </div>

    </div>

    <div class="footer-right">

      <p class="footer-company-about">
        <span>About the company</span>
        Foodish is a Fast-Food Chain streched across Pune and Other parts of Maharastra, Which Serves Quick and Delicious Food On the Go.
      </p>

      <div class="footer-icons">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>-->
  <!--<a href="#"><i class="fa fa-facebook"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="#"><i class="fa fa-github"></i></a>-->
  <!--</div>

    </div>

  </footer>-->
  <br>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
  <footer id="dk-footer" class="dk-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-4">
          <div class="dk-footer-box-info">
            <a href="index.html" class="f">
              <img src="../assets/images/foods/logo.png" alt="footer_logo" class="img-fluid">
            </a>
            <p class="footer-info-text">
              Best Restaurants in the town,<br>

            spread across Maharastra and India.<br>
            </p>
            <div class="footer-social-link">
              <h3>Follow us</h3>
              <ul>
                <li>
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-google-plus"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-instagram"></i>
                  </a>
                </li>
              </ul>
            </div>
            <!-- End Social link -->
          </div>
          <!-- End Footer info -->
          <div class="footer-awarad">
            <img src="images/icon/best.png" alt="">
            <p></p>
          </div>
        </div>
        <!-- End Col -->
        <div class="col-md-12 col-lg-8">
          <div class="row">
            <div class="col-md-6">
              <div class="contact-us">
                <div class="contact-icon">
                  <i class="fa fa-map-o" aria-hidden="true"></i>
                </div>
                <!-- End contact Icon -->
                <div class="contact-info">
                  <h3>Pune, India</h3>
                  <p>53 Road Avenue</p>
                </div>
                <!-- End Contact Info -->
              </div>
              <!-- End Contact Us -->
            </div>
            <!-- End Col -->
            <div class="col-md-6">
              <div class="contact-us contact-us-last">
                <div class="contact-icon">
                  <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                </div>
                <!-- End contact Icon -->
                <div class="contact-info">
                  <h3>95 711 98 5353</h3>
                  <p>Give us a call</p>
                </div>
                <!-- End Contact Info -->
              </div>
              <!-- End Contact Us -->
            </div>
            <!-- End Col -->
          </div>
          <!-- End Contact Row -->
          <div class="row">
            <div class="col-md-12 col-lg-6">
              <div class="footer-widget footer-left-widget">
                <div class="section-heading">
                  <h3>Useful Links</h3>
                  <span class="animate-border border-black"></span>
                </div>
                <ul>
                  <li>
                    <a href="#">About us</a>
                  </li>
                  <li>
                    <a href="#">Services</a>
                  </li>
                  <li>
                    <a href="#">Projects</a>
                  </li>
                  <li>
                    <a href="#">Our Team</a>
                  </li>
                </ul>
                <ul>
                  <li>
                    <a href="#">Contact us</a>
                  </li>
                  <li>
                    <a href="#">Blog</a>
                  </li>
                  <li>
                    <a href="#">Testimonials</a>
                  </li>
                  <li>
                    <a href="#">Faq</a>
                  </li>
                </ul>
              </div>
              <!-- End Footer Widget -->
            </div>
            <!-- End col -->
            <div class="col-md-12 col-lg-6">
              <div class="footer-widget">
                <div class="section-heading">
                  <h3>Subscribe</h3>
                  <span class="animate-border border-black"></span>
                </div>
                <p>
                  <!-- Don’t miss to subscribe to our new feeds, kindly fill the form below. -->
                  Best Restaurants in the town,spread across Maharastra and India.Kindly send us your valuable Suggestion and Feedback.
                </p>
                <form action="#">
                  <div class="form-row">
                    <div class="col dk-footer-form">
                      <input type="email" class="form-control" placeholder="Email Address">
                      <button type="submit">
                        <i class="fa fa-send"></i>
                      </button>
                    </div>
                  </div>
                </form>
                <!-- End form -->
              </div>
              <!-- End footer widget -->
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
        <!-- End Col -->
      </div>
      <!-- End Widget Row -->
    </div>
    <!-- End Contact Container -->


    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <span>Copyright © 2022, All Right Reserved Foodish</span>
          </div>
          <!-- End Col -->
          <div class="col-md-6">
            <div class="copyright-menu">
              <ul>
                <li>
                  <a href="#">Home</a>
                </li>
                <li>
                  <a href="#">Terms</a>
                </li>
                <li>
                  <a href="#">Privacy Policy</a>
                </li>
                <li>
                  <a href="#">Contact</a>
                </li>
              </ul>
            </div>
          </div>
          <!-- End col -->
        </div>
        <!-- End Row -->
      </div>
      <!-- End Copyright Container -->
    </div>
    <!-- End Copyright -->
    <!-- Back to top -->
    <div id="back-to-top" class="back-to-top">
      <button class="btn btn-dark" title="Back to Top" style="display: block;">
        <i class="fa fa-angle-up"></i>
      </button>
    </div>
    <!-- End Back to top -->
  </footer>
</body>
<!--<style>
  *{
    margin:0;
    padding:0;
  }
  .background-image {
    background-image: ('./assets/images/foods/foodbg.jpg');
    width:200px;
    height:25vh;
    background-size:contain;
    background-repeat:no-repeat;
  }
</style>-->
<!--<app-header></app-header>
<br />
<h1 style="text-align:center">Welcome to Foodish</h1>
<br />
<img src="../assets/images/foods/logo.png" alt="Foodish app logo" width="150" height="100" class="center">

<video controls autoplay muted class="Video" width="1200" height="500" src="../assets/vdos/home1.mp4" type="video/mp4">
  Your Browser Does Not Support the Video Tag.
</video>

<h3>Food is something which everyone wishes for. Not everyone can cook good food but they may wish to eat.</h3>
<br>
<h3>However, for eating good food he or she may not have to cook as there are many food ordering apps from where anyone can order their favourite food.</h3>
<br>
<h3>Receiving food at your doorstep</h3>-->
